<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>鲨鱼陪玩</title>
    <link rel="stylesheet" type="text/css" href="/static/frame/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tool.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/video.css" /> -->
    <style type="text/css" media="screen">
    .imgBox {
        width: 100px;
        text-align: center;
        float: left;
        margin-left: 5px;
    }

    .layui-left20 {
        margin-left: 20px;
    }

    .layui-float-left {
        float: left;
    }

    .clearboth {
        margin-bottom: 10px;
    }
    .layui-table-view {
        margin: 0px;
    }
    </style>
</head>

<body>
    <div class="pd15">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="clearboth">
                            <div class="layui-form layui-left20 layui-float-left">
                                <div class="layui-form">
                                    <div class="layui-inline">
                                        <input type="text" autocomplete="off" id="query" class="layui-input" name="query" placeholder="请输入信息查询">
                                    </div>
                                    <button class="layui-btn layui-icon layui-icon-search" lay-submit lay-filter="search"></button>
                                </div>
                            </div>
                            <div class="layui-table-tool-temp layui-left20 layui-float-left">
                                <button class="layui-btn" lay-submit lay-filter="refresh"><i class="layui-icon layui-icon-refresh-3"></i>刷新</button>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <table class="layui-table" lay-data="{height: 'full-108', url:'{:url('Operate/user_information_list')}', page:true,limits:[10,30,50], id:'user'}" lay-filter="settings"><!-- ,cellMinWidth:120 -->
                            <thead>
                                <tr>
                                    <th lay-data="{align:'center',type:'numbers', width:100}">序号</th>
                                    <th lay-data="{field:'player_id', align:'center'}">用户id</th>
                                    <th lay-data="{field:'', align:'center',  toolbar: '#player_name'}">用户昵称</th>
                                    <th lay-data="{field:'union_id', align:'center'}">微信号</th>
                                    <th lay-data="{field:'money', align:'center'}">用户余额</th>
                                    <th lay-data="{field:'player_phone', align:'center'}">手机号</th>
                                    <th lay-data="{field:'registertime', align:'center', sort: true}">注册时间</th>
                                    <th lay-data="{align:'center', toolbar: '#operation',minWidth:180}">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="task_name">
        {{unescape(d.task_name)}}
    </script>
    <script type="text/html" id="operation" style="max-width:208px;">
        {{# if(d.account_status==1){}}
        <a class="layui-btn layui-btn-xs  layui-btn-warm" lay-event="seal">封号</a>
        {{#}else {}}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="unseal">解封</a> {{# } }}
    </script>
    <script type="text/javascript" src="/static/frame/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/PCASClass.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript">
    layui.use(['form', 'table', 'layer', 'element', 'laydate'], () => {
        let table = layui.table,
            $ = layui.$,
            element = layui.element,
            form = layui.form,
            layer = layui.layer;
        laydate = layui.laydate;

        //任务发布按钮
        $("#release_task").click(() => {
            layer.open({
                type: 2,
                title: '任务发布',
                content: ['/vip/release_task'],
                area: ['100%', '100%'],
                end: function() {
                    table.reload('settings', {
                        page: {
                            curr: data.page
                        }
                    });
                }
            });

        });
        form.render('select', 'duty');
        //搜索
        form.on('submit(search)', (data) => {
            console.log(data);
            table.reload('settings', {
                page: {
                    curr: 1
                },
                where: data.field
            });
        });
        //刷新
        form.on('submit(refresh)', (data) => {
            $(".layui-laypage-btn").click();

        });
        form.verify({
            search: function(value, item) { //value：表单的值、item：表单的DOM对象
                if (value === "") {
                    return '请输入查询信息';
                }
            }
        });

        function doUpload_file(obj) {
            var formData = new FormData(obj.parents('form')[0]); // 要求使用的html对象
            $.ajax({
                url: 'http://upload-z1.qiniup.com',
                type: 'POST',
                data: formData,
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                success: function(res) {
                    layer.msg("添加成功");
                    obj.next().val("http://xqimgcdn.xianqugame.com/" + res.hash);
                },
                error: function(res) {
                    layer.msg("上传错误", {
                        icon: 5,
                        anim: 6
                    });
                }
            });
        }
        //操作
        table.on('tool(user)', (obj) => {
            var data = obj.data;
            if(obj.event==="seal"){
                layer.confirm('当前操作将冻结该用户！', {icon: 3, title:'警告'}, function(index){
                    var i = layer.msg('数据处理中...', {
                    icon: 16,
                    shade: [0.5, '#f5f5f5'],
                    scrollbar: false,
                    offset: '300px',
                    time: 100000
                });
                layuiPost("{:url('Operate/user_seal')}", {
                    "player_id": data.player_id
                    }, (res) => {
                        layer.close(i);

                        if(res.result){
                            layer.msg('删除成功', {
                                icon: 6,
                                time: 2000
                            });
                            table.reload('settings', {
                                page: {
                                    curr: data.page
                                }
                            });
                        }
                    })
                });
            }
            if(obj.event==="unseal"){
                layer.confirm('当前操作将解除该用户！', {icon: 3, title:'警告'}, function(index){
                    var i = layer.msg('数据处理中...', {
                    icon: 16,
                    shade: [0.5, '#f5f5f5'],
                    scrollbar: false,
                    offset: '300px',
                    time: 100000
                });
                layuiPost("{:url('Operate/user_unseal')}", {
                    "player_id": data.player_id
                    }, (res) => {
                        layer.close(i);
                        if(res.result){
                            layer.msg('发布成功', {
                                icon: 6,
                                time: 2000
                            });
                            table.reload('settings', {
                                page: {
                                    curr: data.page
                                }
                            });
                        }
                    })
                });
            }
            if (obj.event === 'release') {
                var i = layer.msg('数据上传中...', {
                    icon: 16,
                    shade: [0.5, '#f5f5f5'],
                    scrollbar: false,
                    offset: '300px',
                    time: 100000
                });
                layuiPost("/vip/releases", {
                    "task_id": data.task_id
                }, (res) => {
                    if (res.code===1) {
                        layer.close(i);
                        layer.msg(res.msg, {
                            icon: 6,
                            time: 2000
                        });
                        table.reload('settings', {
                            page: {
                                curr: data.page
                            }
                        });
                    } else if(res.code===2) {
                        layer.close(i);
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 2000
                        });
                        setTimeout(() => {
                            layer.open({
                                type: 2,
                                title: '任务发布',
                                content: ['/vip/alipay?task_id=' + data.task_id, 'no'],
                                area: ['100%', '100%'],
                                end: function() {
                                    table.reload('settings', {
                                        page: {
                                            curr: data.page
                                        }
                                    });
                                }
                            });
                        }, 2000);
                    }else{
                        layer.close(i);
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 2000
                        });
                    }
                });
            }
            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '修改任务',
                    content: ['/vip/edit_task_list?_id=' + data.task_id + "&page=" + data.page + "&limit=" + data.limit],
                    area: ['100%', '100%'],
                    end: function() {
                        table.reload('settings', {

                        });
                    }
                });

            }
        });

    })
    </script>
</body>

</html>
