<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>陪你约玩隐私政策</title>
</head>
<body>
    <p>
        <b>
        用户使用许可协议<br>
        用户使用许可协议<br>
        </b>
        重要须知：<br>
            一、欢迎使用陪你约玩（软件）<br>
        <b>产品及相关各项服务(下称“陪你约玩”）。您(下称“用户”)在
        使用陪你约玩之前,请仔细阅读本《用户使用许可协议》</b>(下称“本协议”,本协议包含后附的《用户守则》)中的所有内容(未成年人应当在监护人陪同下阅读),
        特别是其中免除或者限制网易公司责任的免责条款、对用户的权利限制条款及发生争议时的法律及管辖条款。<br>
        <b>如您不同意本协议的任何条款内容请不要安装、使用本软件或者相关服务。否则,您一旦点击“同意”(或类似的表示您同意的措辞)并安装本软件,或者注册、开始使用及或继续使用陪你约玩，<br>
        即视为您已仔细阅读并充分理解本协议的所有内容,同意并接受本协议全部条款的约定,本协议即构成您与陪你约玩公司之间，就您使用陪你约玩所达成的协议,具有法律效力。此后您不得以未阅读本协议内容或类似言辞做任何形式的抗辩。</b><br>
        二、如用户未满18周岁的,需在监护人的陪同下阅读本协议,并在取得监护人的同意后方可使用陪你约玩。<br>
        三、本协议的订立、履行、解释及争议的解决均适用中华人民共和国法律并排除其他一切冲突法的适<br><br>
        用。<br>
        四、本协议订立于北京市房山区。如就本协议的内容或其执行发生任何争议(包括但不限于合同或者其他财产性权益纠纷),双方应友好协商解决;协商不成时,双方同意交由北京市房山区人民法院管辖并处理。<br><br>
        1、用户使用规则<br><br>
        1.1使用陪你约玩，用户必须：<br><br>
        (1)认真阅读并知晓陪你约玩的产品介绍,遵守本协议和相关操作规则；<br><br>
        (2)自行提供设备,如个人电脑、手机、平板电脑或其他上网设备;<br><br>
        (3)自行负担个人上网和支付与此服务有关的费用；<br><br>
        (4)遵守本协议的约定、其他相关规则的规定(包括但不限于用户点击同意的《陪你约玩账号服务条款》、《陪你约玩隐私政策》以及陪你约玩公司在陪你约玩官方网站或陪你约玩内公布的规则等);<br><br>
        (5)遵守中华人民共和国相关法律法规(如果用户是中华人民共和国境外的使用者,还应遵守所属国家或地区的法律法规)。<br><br>
        1.2用户在在使用陪你约玩时,不得利用陪你约玩制作、复制、发布、传播、存储以下信息或指向该等信息的链接及二维码：<br><br>
        (1)含有侵犯他人知识产权、肖像权、名誉权、隐私权等合法权益的信息的;<br><br>
        (2)违反宪法确定的基本原则的;<br><br>
        (3)危害国家安全,泄露国家秘密,颠覆国家政权,破坏国家统一的;<br><br>
        (4)损害国家荣誉和利益的；<br><br>
        (5)煽动民族仇恨、民族歧视,破坏民族团结的;<br><br>
        (6)破坏国家宗教政策,宣扬邪教和封建迷信的；<br><br>
        (7)散布谣言,扰乱社会秩序,破坏社会稳定的;<br><br>
        (8)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的;<br><br>
        (9)侮辱或者诽谤他人,侵害他人合法权益的;<br><br>
        (10)宣扬、教唆使用外挂、私服以及木马、有关作弊的相关内容的；<br><br>
        (11)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；<br><br>
        (12)以非法民间组织名义活动的；<br><br>
        (13)含有法律、行政法规禁止的其他内容的。<br><br>
        13用户应保证不得从事下列行为:<br><br>
        (1)破解、修改、翻译、注释、改编、整理、演绎陪你约玩客户端(软件)产品;<br><br>
        (2)通过反向工程、反向编译、反汇编或其他任何手段对陪你约玩客户端(软件)产品进行分析,修改、攻击、衍生;<br><br>
        (3)通过非陪你约玩公司开发、授权或认可的第三方兼容软件、系统登录或使用陪你约玩或针对陪你约玩使用非陪你约玩公司开发、授权或认可的插件；<br><br>
        4)通过任何方式探测、拦截、获取、使用陪你约玩客户端(软件)产品源代码及/或存储于陪你约玩客户端中的任何信息;<br><br>
        (5)创作陪你约玩的派生、衍生作品;<br><br>
        6)删除、掩盖或更改陪你约玩公司或任何第三方的版权声明、商标或其它知识产权声明；<br><br>
        (7)删除、掩盖或更改陪你约玩客户端(软件)产品所展现的任何信息;<br><br>
        (8)利用陪你约玩客户端(软件)产品可能存在的技术、程序缺陷或漏洞而以任何形式为自己或他人谋利或者从事其他不合法、不正当行为；<br><br>
        (9)用任何方式或方法、试图攻击提供陪你约玩客户端(软件)产品及相关各项服务的相关服务器、路由器、交换机以及其他设备,以达到非法获得或修改未经授权的数据资料、影响正常的陪你约玩服务秩序,以及其他危害性目的的行为；<br><br>
        (10)通过异常或者非法方法使用陪你约玩客户端(软件)产品及其相关各项服务,破坏陪你约玩客户端(软件)产品,扰乱正常的服务秩序或者实施其他不正当行为;<br><br>
        (11)制作、发布、传播、使用、宣扬任何形式的妨碍陪你约玩相关各项服务的辅助工具或程序;<br><br>
        (12)盗取或使用他人的账号或密码登录/使用陪你约玩；<br><br>
        (13)损害、禁用、影响陪你约玩公司的服务或使陪你约玩公司的服务负担过重,影响任何其它方享用陪你约玩公司的服务;<br><br>
        (14)任何方式破坏干扰陪你约玩客户端(软件)产品及其相关各项服务,或影响陪你约玩公司品牌形象、公司利益的行为。<br><br>
        14用户有权自行选定其在陪你约玩上的账号昵称/头像,但如该账号昵称/头像违反相关法律法规或国家政策要求、违背社会公序良俗、或侵犯任何第三方合法权益、陪你约玩公司有权要求用户对该账号昵称/头像进行修改、或直接修改、收回、删除该账号昵称/头像。<br><br>
        1.5如果用户对陪你约玩有任何意见,或有如何改进的建议,可向陪你约玩公司提出。请注意,如果这样做,还会授予陪你约玩公司和第三方在陪你约玩（或第三方软件)中无偿使用和加入用户的建议或意见的权利。<br><br>
        2、用户账号注册、使用与保管<br><br>
        2.1 用户有义务妥善保管其注册及登录陪你约玩所使用的陪你约玩账号或陪你约玩公司所认可的合作方的账号(后文称为“账号”)及密码,并正确、安全地使用其账号及密码,用户明确知悉并同意：<br><br>
        （1）用户保管不善而导致账号密码遗失、账号被盗等情形而给用户和他人的民事权利造成损害的,<br><br>
        用户应当自行承担由此产生的法律责任;<br><br>
        (2)如用户发现其账号或密码被他人非法使用或有使用异常的情况的,应及时根据账号服务提供者公布的方式进行处理(如账号的提供方为陪你约玩公司,则您应根据同公布的处理方式通知陪你约玩公司),并有权及时通知陪你约玩公司采取措施暂停该账号的登录和使用;<br><br>
        (3)陪你约玩公司收到用户的通知采取措施暂停用户账号的登录和使用的,陪你约玩公司将要求用户提供并核实与其注册资料相一致的个人有效身份信息。<br><br>
        仅在用户提供的个人有效身份信息与所注册的身份信息相一致的情况下,陪你约玩公司才有义务采取措施暂停用户账号的登录和使用。<br><br>
        如用户没有提供其个人有效身份证件或者用户提供的个人有效身份证件与所注册的身份信息不一致的、或用户的注册资料里并无用户的身份信息、或用户的注册资料里所提供的身份信息不准确、不真实、不合法有效、或所提供的身份信息让陪你约玩公司无法准确判断的,<br><br>
        陪你约玩公司公司有权拒绝用户要求陪你约玩公司采取措施暂停账号的登录和使用的请求。<br><br><br>
        2.2 如用户连续365天没有登录陪你约玩，则自第365天当天的24时起,陪你约玩公司有权采取措施删除该用户账号以及该用户账号的相关任何记录及虚拟物品(包括但不限于等级、使用记录、增值服务代用币等数据信息),删除后的数据信息无法再恢复。<br><br>
        3、注册资料及数据信息<br><br>
        3.1用户在申请成为陪你约玩的注册用户时,陪你约玩公司有权基于安全运营、社会公共安全的需要或国家政策法规的要求,要求用户提供详尽、合法、准确的个人信息资料,如用户提供给陪你约玩公司的资料不准确、不真实、不合法有效,陪你约玩公同有权终止用户继续使用陪你约玩的权利,并追究用户的法律责任。<br><br>
        32用户同意与注册、使用陪你约玩所相关的一切资料、数据和记录,包括但不限于注册信息、所有登录消费记录和相关的使用统计数据归陪你约玩公司所有(用户的姓名、身份证号、电话号码等个人身份数据信息除外)。发生争议时,用户同意以陪你约玩公司的系统数据为准,陪你约玩公司保证该数据的真实性。<br><br>
        4、相关服务<br><br>
        4.1 陪你约玩的相关各项服务的具体内容由陪你约玩公司根据实际情况提供,陪你约玩公司有权随时根据陪你约玩的运营情况对该等服务进行任何形式的变动、调整,<br><br>
        并且陪你约玩公司有权针对陪你约玩所涉及的某种特定的服务的服务内容、服务方式通过任何形式(包括但不限于系统/网页公告、系统通知等)作出声明、通知,该等声明、通知将被视为是本协议的一部分。<br><br>
        在该等声明、通知发布后,用户如继续使用陪你约玩，则视为用户已知悉并同意该等声明、通知的内容。<br><br>
        4.2陪你约玩公司部分服务为收费的网络服务,用户使用收费网络服务需要支付一定的费用,对于收费的网络服务,请您留意;<br><br>
        (1)陪你约玩公司有权决定其收费方式和资费标准,且陪你约玩公司有权根据需要对资费政策随时进行调整；<br><br>
        2)陪你约玩公司在用户使用之前给予用户明确的提示,只有用户根据提示确认其愿意支付相关费用,用户才能使用该等收网络服务。如用户拒绝支付相关费用,则陪你约玩公司有权不向用户提供该等收费网络服务;<br><br>
        (3陪你约玩公司有权根据陪你约玩的运营需要发行增值服务代用币具体以陪你约玩公司指定的形式为准增值服务代用币是指陪你约玩公司设计的一种虚拟物品,通过人民币兑换等途径获得,可用于换取陪你约玩中指定的各类增值服务。<br><br>
        请您留意,增值服务代用币一旦兑换,则不可回兑(包括但不限于不可回兑为仼何形式的法定货币)此外,用户只可在陪你约玩内及/或通过陪你约玩公司指定、认可的平台及方式购买、兑换、获得增值代用币;<br><br>
        （4）在以用户购买虛拟物品的使用权或者以接受其他增值服务作为收费项目的情况下,如超出该虚拟物品的有效使用期限或者增值服务的有效服务期限(不管用户是否已实际使用或享受服务),或者超出有效使用或服务次数,陪你约玩公司即有权釆取措施取消用户对上述虚拟物品的使用权或者停止提供增值服务。<br><br>
        4.3 陪你约玩公司根据陪你约玩公司的相关各项服务规则向用户提供的任何虚拟物品,包括但不限于:任何的平台道具(如任何形式命名的、由陪你约玩公司按服务规则所提供的平台道具等),<br><br>
        其所有权归陪你约玩公司所有,用户只能在合乎法律规定和陪你约玩服务规则的情况下使用。用户不得利用陪你约玩的任何虚拟物品开展任何违法违规、违反社会主义道德风尚、违反本协议约定违反用户守则及或)侵犯赐合法权益的行为。<br><br>
        5、唯一编号<br><br>
        5.1用户在首次注册登录成功后,陪你约玩将按照系统规则产生并自动分配给用户一个唯一编号,用户将获得该编号的使用权,该等编号与用户注册并登陆陪你约玩所使用的陪你约玩邮箱账号一样(如您是通过手机注册并成为陪你约玩用户),是用户接受陪你约玩相关各项服务的身份识别凭证。<br><br>
        6.仅供个人使用<br><br>
        6.1在用户同意并接受本协议全部条款的前提下,陪你约玩公司同意授予用户可撤销的、可变更的、非专有的、不可转让和不可再授权的、仅限于个人试用用途的使用陪你约玩客户端（软件）产品及相关各项服务的权利。<br><br>
        有的、不可转让和不可再授权的、仅限于个人使用用途的使用陪你约玩（软件）产品及相关各项服务的权利。<br><br>
        6.2除非陪你约玩公司事先授权,用户不得将陪你约玩用于任何商业用途。用户如果要通过、利用陪你约玩、对陪你约玩或者与陪你约玩有关或派生的任何资料、服务或软件进行任何商业性使用,则应与公司联系并获得陪你约玩公司的另行授权。<br><br>
        6.3用户同意并理解,除非获得陪你约玩公司的事先授权,否则用户只能通过陪你约玩客户端(软件)产品及相关各项服务开展正常的娱乐活动,而不得利用或通过票电竞进行任何的牟利行为或其他不正当行为,包括但不限于不得对陪你约玩的任何虚拟物品进行任何未经陪你约玩公司授权、许可的交易等。<br><br>
        7、知识产权<br><br>
        7.1 陪你约玩公司依法享有陪你约玩的一切合法权属(包括但不限于知识产权).陪你约玩客户端(软件)产品及其相关各项服务的全部著作权及一切其他知识产权,以及与陪你约玩相关的所有信息内容<br><br>
        包括但不限于文字表述及其组合、图标、图饰、色彩组合、界面设计、版面框架、有关数据、印刷材料、或电子文档等均受中国知识产权相关法律法规及有关的国际条约的保护。<br><br>
        7.2陪你约玩客户端(软件)产品及其相关各项服务所体现的“陪你约玩”徽标(图形)和或陪你约玩公司的产品和服务标示均属于陪你约玩公司及其关联公司在中国及/或其他国家/地区的商标或者注册商标。用户未经合法授权不得使用。<br><br>
        7.3陪你约玩公司及其关联公司在涉及陪你约玩客户端(软件)产品及相关各项服务中拥有专利权、专利申请权、商标权、著作权及其他知识产权。陪你约玩公司及其关联公司并未因本协议或者因向用户提供陪你约玩客户端(软件)产品及相关各项服务而授予用户任何与陪你约玩相关的知识产权。<br><br>
        7.4陪你约玩公司可向用户提供有关陪你约玩的有关服务中所包含的任何文本、图片、图形、标识、音频和/或视频资料均受著作权法、商标法和/或其它相关法律的保护;未经陪你约玩公司事先书面许可<br><br>
        用户不得对其进行任何未经授权的使用,包括但不限于不得进行复制、发行、展览、改编、汇编、出版、传播、出售等。<br><br>
        7.5用户明确同意:对于用户在陪你约玩中发布的任何信息、内容(包括但不限于发布的文字、图片、图标、软件、视频、音频及表演信息等)<br><br>
        陪你约玩公司拥有全世界范围内的兔费的、永久性的、不可撤销的授权及许可,陪你约玩公司可完全或部分使用、复制、改编、汇编、出版、翻译、据此创作衍生作品、传播表演和展示该部分信息及内容,和将该部分内容的全部或部分编入陪你约玩公司及/或关联公司的任何作品、服务或技术中。<br><br>
        7.6陪你约玩可能涉及第三方知识产权如该等第三方对您在陪你约玩中使用该等知识产权有要求的,陪你约玩公司将以适当的方式向您告知该等要求,您应当遵守该等要求。<br><br>
        7.7本协议未明确授予用户的权利均由陪你约玩公司及其关联公司保留。<br><br>
        8、用户隐私制度<br><br>
        8.1尊重用户个人隐私是陪你约玩公司的一项基本政策。所以,陪你约玩公司一般不会公开、编辑或透露用户的注册资料或保存在陪你约玩公司服务器中的非公开内容,除非陪你约玩公司在诚信的基础上认为透露这些信息在以下几种情况是必要的:<br><br>
        (1)根据有关法律法规的要求;<br><br>
        (2)根据相关政府主管部门的要求<br><br>
        (3)遵从陪你约玩的服务程序所需;<br><br>
        (4)为维护社会公众利益;<br><br>
        (5)为维护陪你约玩自身合法权益；<br><br>
        (6)陪你约玩公司认为必要的其他情况下。<br><br>
        9、服务条款的修改<br><br>
        9.1陪你约玩公司有权在必要时修改本协议条款。本协议条款一旦发生变动,陪你学校公司将通过系统公告、通知或其他陪你约玩公司认为恰当之方式进行提示<br><br>
        用户在使用陪你约玩时,应当及时查阅了解修改的内容,并自觉遵守本协议，则视为对修改内容的同意;用户在不同意修改内容的情况下,有权停止使用陪你约玩。<br><br>
        10、服务的变更、中止和终止<br><br>
        10.1为保障公司业务发展,陪你约玩公司保留随时变更、中断或终止提供陪你约玩客户端(软件)产品及<br><br>
        相关各项服务(包括收费网络服务)而不需通知用户的权利。用户接受陪你约玩公司行使变更、中断或终止提供陪你约玩客户端(软件)产品及相关各项服务的权利,陪你约玩公司不需对用户或第三方负责<br><br>
        11、责任限制<br><br>
        11.1用户使用陪你约玩或通过陪你约玩所发布的任何内容传递的任何观点不代表网勿公司的观点感<br><br>
        政策,网局公司亦不对其完整性、真实性、准确性及可靠性负责。用户在使用陪你约玩的过程中应遵守法律法规及政策规定,并对自身使用陪你约玩而产生的任何行为、任何后果承担全部责任,包括但不限于<br><br>
        用户应对自己通过陪你约玩发布、公开的信息,及对由此产生的任何后果承担全部责任;用户应对陪你学校中任何第三方所发布的信息内容自行加以判断,并承担因使用该信息内容而引起的所有风险,包括因对内容的正确性、完整性或实用性的依赖而产生的风险等。<br><br>
        11.2用户理解并同意自主选择下载和/或使用陪你约玩所有与陪你约玩一同提供或通过陪你约玩提供的第三方软件,风险自负,并且对于因下载或使用陪你约玩和此类第三方软件而对计算机系统及/或任何智能系统造成的损坏或数据的丢失,用户应承担全部责任。<br><br>
        11.3在适用法律允许的最大范围内,陪你约玩公司明确表示不提供任何其他类型的保证,不论明示的或默示的,包括但不限于适销性、适用性、可靠性、稳定性、准确性、完整性、无病毒以及无错误的任何默示保证和责任<br><br>
        另外,在适用法律允许的最大范围内,陪你约玩公司并不担保陪你约玩一定能满足用户的要求,也不担保陪你约玩不会被修改、中断或终止,并且对陪你约玩的及时性、安全性、错误发生,以及信息是否能准确、及时、顺利的传送均不作任何担保。<br><br>
        11.4在适用法律允许的最大范围内,陪你约玩公司不就因用户使用陪你约玩引起的<br><br>
        或在任何方面与陪你约玩公司的产品和服务有关的任何意外的、非直接的、特殊的、或同接的损害或请求(包括但不限于因人身伤害、因隐私泄漏、因未能履行包括诚信或合理谨慎在内的任何责任、因过失和因任何其他金钱上的损失或其他损失而造成的损害赔偿)承担任何责任。<br><br>
        11.5陪你约玩公司保留在陪你约玩中投放商业性广告及其他任何类型商业信息的权利。<br><br>
        12、保障<br><br>
        12.1用户同意保障和维护陪你约玩公司及其他用户的利益,陪你约玩公司有权对用户使用陪你约玩的情况进行审查和监督。如用户违反法律、法规、相关政策、本协议条款、用户守则及/或《陪你约玩邮箱账号服务条款》<br><br>
        或经陪你约玩公司判断用户的账号数据异常,陪你约玩公司有权要求用户改正或直接采取必要的措施(包括但不限于于警告、禁言、强制离线、暂时禁止登陆、封停账号、更改或删除用户发布的信息内容等、对用户账号下拥有的虚拟物品进行冻结或收回、倒扣数值、限制、暂停或终止用户登录/使用陪你约玩的权利)以消除或减轻用户不当行为造成的影响<br><br>
        因该等原因而被网冻结、终止、删除陪你约玩账号，虚拟物品或采取其他限制措施的用户无权要求陪你约玩公司承担任何责任因此造成的任何法律责任或损失,均需用户自行承担<br><br>
        用户承担法律责任及损失的形式包括但不限于:对陪你约玩公司及其关联公司因此遭受的任何损失,用户应全额予以赔偿,赔偿的范围包括但不限于律师费用、损害补偿费用、政府机关处罚费用和其它侵权赔偿费用等。<br><br>
        13、其他<br><br>
        13.1本协议中的标题仅为方便阅读而设,不应影响本协议任何条款的解释。<br><br>
        13.2如本协议中任何条款因任何原因被判定为完全或部分无效或不具有执行力的,该无效或不具有执行力的条款将被最接近原条款义务的一项有效并可执行的条款所替代,并且本协议的其余条款仍应有效并具有执行力。<br><br>
        13.3陪你约玩公司不行使、未能及时行使或者未充分行使本条款或者按照法律规定所享有的权利,不应被视为放弃该权利,也不影响陪你约玩公司在将来行使该权利。<br><br>
        用户守则<br><br>
        前言<br><br>
        欢迎您选择享受陪你约玩公司提供的陪你约玩！<br><br>
        我公司将努力为您提供更优质的服务。同时,我们建议用户申请陪你约玩账号时填写您真实的姓名及证件号码等相关资料,以便更好地体验陪你约玩公司带给您的服务。<br><br>
        陪你约玩管理规则<br><br>
        为了维护良好的陪你约玩环境,陪你约玩公司要求《陪你约玩》用户必须遵守以下规则。
        请仔细阅读以下陪你约玩的管理规则(特别是粗体字的内容),如果您不同意以下任何一点,请立即停止使用《陪你约玩》软件。<br><br>
        《陪你约玩》是指陪你约玩公司研发/提供的名为《陪你约玩》的软件及其相关服务,包含Pc端、Web端的《陪你约玩》及含移动端的《陪你约玩》(包括但不限于i0S版和Android版)<br><br>
        惩罚概述<br><br>
        <b>不以规矩,无以成方圆。(孟子）<br><br>
        良好的秩序是一切美好事物的基础我们所做的一切均是为了维护陪你约玩平台环境的和谐与公平。但真正的秩序,应源于每个人的习惯。我们真诚希望能有那样一天—我们不必再用处罚去约束大家的行为若用户违反本用户守则的规定,用户可能遭受以下一项或几项惩罚。<br><br>
        (一）警告:警告是针对违反规则的用户而做出的教育导向,它是用于正常管理陪你约玩运行的一种方式。<br><br>
        (二)禁言:关闭违规用户的部分或全部聊天频道,强制暂停用户的线上对话功能,使用户无法与其他用户对话,直到此次处罚到期或是取消。<br><br>
            (三)限制权限:暂停或永久禁止违规用户使用陪你约玩提供的相关功能的权限(包括但不限于视频/语音功能的权限）。</b><br><br>

    </p>
</body>
</html>