<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到星巴特狗舍</title>
</head>
<style>
    .ShaShiDi{
        width:100%;
        height: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        /* border:1px solid black; */
    }
    .ShaShiDi img{
        width:100%;
        height:100%;
    }
</style>
<body>
<div align="center" class="ShaShiDi"><img src="http://cdn.lanyushiting.com/xingbatequanshe.png" alt=""></div>
</body>
</html>