<!-- 左侧菜单开始 -->
		<div class="left-nav">
			<div id="side-nav">
				<ul id="nav">
					{foreach $menu_list_one as $menu_key => $menu_value}
					<li>
						<a href="javascript:;">
							<cite>{$menu_value['title']}</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							{foreach $menu_list_two as $menu_key_two => $menu_value_two}
							<li>
								<a _href="{$menu_value_two.action}">
									<i class="iconfont">&#xe6a7;</i>
									<cite>{$menu_value_two.title}</cite>
								</a>
							</li>
							{/foreach}
						</ul>
					</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<!-- <div class="x-slide_left"></div> -->
		<!-- 左侧菜单结束 -->