<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>游戏列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__PUBLIC_ADMIN__/static/css/font.css">
    <link rel="stylesheet" href="__PUBLIC_ADMIN__/static/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>

<body>
    <div class="weadmin-nav">
        <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="{:url('admin/cate/video')}">视频列表</a>
        <a>
          <cite>视频列表</cite></a>
      </span>
        <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src="" />
        </div>
    </div>
    <div class="weadmin-body">
        <div class="weadmin-block">
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <a href="{:url('admin/cate/addVideo')}">
					<button class="layui-btn"><i class="layui-icon"></i>添加</button>
				</a>
            <span class="fr" style="line-height:40px">共有数据：{$total} 条</span>
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                    </th>
                    <th>ID</th>
                    <th>视频</th>
                    <th>视频封面</th>
                    <th>发布用户</th>
                    <th>排序</th>
                    <th>添加时间</th>
                    <th>是否推荐</th>
                    <th>状态</th>
                    <th>操作</th>
            </thead>
            <tbody>
                {foreach $data as $key => $value}
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="{$value.vid}"><i class="layui-icon">&#xe605;</i></div>
                    </td>
                    <td>{$value.vid}</td>
                    <td>
                        <video class="screen" width="300" height="250" controls="controls" src="http://cdn.lanyushiting.com/{$value.videourl}"></video>
                    </td>
                    <td>
                        <img src="http://cdn.lanyushiting.com/{$value.img}" style="height: 150px;max-width: 360px;">
                    </td>
                    <td>{$value.uname}</td>
                    <td>{$value.order}</td>
                    <td>
                        <?=date('Y-m-d H:i:s',$value['addtime'])?>
                    </td>
                    <td>
                        {if($value['isrecommend'] == 1)}
                        <span>不推荐</span>
                        {else}
                        <span>推荐</span>
                        {/if}
                    </td>
                    <td class="td-status">
                        {if condition="$value['status'] eq 1"}
                            <span class="layui-btn layui-btn-normal layui-btn-sm">待审核</span>
                        {elseif condition="$value['status'] eq 2"}
                            <span class="layui-btn layui-btn-warm layui-btn-sm">已上线</span>
                        {elseif condition="$value['status'] eq 3"}
                            <span class="layui-btn layui-btn-danger layui-btn-sm">审核失败</span>
                        {else/}
                            <span class="layui-btn layui-btn-danger layui-btn-sm">已下线</span>
                        {/if}
                    </td>
                    <td class="td-manage">
                        {if($value['status'] == 1)}
                            <a onclick="updateVideo({$value['vid']},2)" href="javascript:;" title="审核成功"><button class="layui-btn layui-btn-warm layui-btn-sm">审核成功</button></a>
                            <a onclick="updateVideo({$value['vid']},3)" href="javascript:;" title="审核失败"><button class="layui-btn layui-btn-danger layui-btn-sm">审核失败</button></a>
                        {elseif($value['status'] == 2)}
                            {if($value['isrecommend'] == 1)}
                                <a onclick="upRecommend({$value['vid']},2)" href="javascript:;" title="推荐"><button class="layui-btn layui-btn-normal layui-btn-sm">推荐</button></a>
                            {else}
                                <a onclick="upRecommend({$value['vid']},1)" href="javascript:;" title="不推"><button class="layui-btn layui-btn-danger layui-btn-sm">不推</button></a>
                            {/if}
                            <a onclick="orderVideo({$value['vid']})" href="javascript:;" title="排序"><button class="layui-btn layui-btn-sm">排序</button></a>
                            <a onclick="updateVideo({$value['vid']},-1)" href="javascript:;" title="禁用"><button class="layui-btn layui-btn-danger layui-btn-sm">禁用</button></a>
                        {elseif($value['status'] == 3)}
                            <a onclick="updateVideo({$value['vid']},-1)" href="javascript:;" title="删除"><button class="layui-btn layui-btn-danger layui-btn-sm">删除</button></a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        <div class="page">
            <div>
                {$list->render()}
            </div>
        </div>
    </div>
    <script src="__PUBLIC_ADMIN__/static/js/jquery.js" charset="utf-8"></script>
    <script src="__PUBLIC_ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC_ADMIN__/static/js/weadmin.js"></script>
    <script type="text/javascript">
    layui.use(['layer'], function() {
        var form = layui.form;
        var layer = layui.layer;
    });


    function orderVideo(id){
        str = "<div class='layui-row layui-form pd15'>";
        str += '<div class="layui-form">';
        str += "<div class='layui-form-item'><label class='layui-form-label'>视频ID:</label><div class='layui-input-inline'><input type='text' id='vid' autocomplete='off' readonly class='layui-input' readonly value='"+ id +"'></div></div>";
        str += "<div class='layui-form-item'><label class='layui-form-label'>排序:</label><div class='layui-input-inline'><input type='text' minlength='2' maxlength='3' id='order_num' placeholder='最小值为11 最大值为999 越小越排列在前' autocomplete='off' class='layui-input' value=''></div></div>";
        str += '</div>';
        str += '</div>';
        var index = layer.open({
            title:"编辑排序",
            area:['450px','325px'],
            content:str,
            btn:['增加','取消'],
            yes:function(){
                var vid = $.trim($('#vid').val());
                var order_num = $.trim($('#order_num').val());
                if( order_num == 0 || order_num == '' ){
                    layer.msg("请输入数字", {icon: 7, time:2000});
                    return false;
                }
                if( order_num<11 ){
                    layer.msg("最小值为11", {icon: 7, time:2000});
                    return false;
                }
                if( order_num>1000 ){
                    layer.msg("最大值为1000", {icon: 7, time:2000});
                    return false;
                }
                if(isNaN(order_num)){
                    layer.msg("请输入数字", {icon: 7, time:2000});
                    return false;
                }
                $.post(
                    "{:url('admin/cate/upOrder')}",
                    {
                        order:order_num,
                        vid:vid
                    },
                    function(response){
                        // console.log(response);return;
                        var response = $.parseJSON(response);
                        if(response.code == 0){
                            layer.msg(response.msg, {icon: response.icon, time:3000});
                            location.reload();
                        }else{
                            layer.msg(response.msg, { time: 1000, icon: response.icon });
                        }
                    }
                );
            },
            btn2:function(){
                layer.closeAll(index); //关闭当前窗口
            }
        });
    }

    //批量删除
    function delAll() {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？', function(index) {
            // //捉到所有被选中的，发异步进行删除
            $.post("{:url('admin/cate/delAllVideo')}", { id: data, table: 'video' }, function(response) {
                layer.msg(response.msg, { time: 1000, icon: response.icon }, function() {
                    location.reload();
                })
            },'json');
        });
    }
    //修改状态
    function updateVideo(id, status) {
        $.post("{:url('admin/cate/updateVideo')}", { vid: id, status: status }, function(data) {
            layer.msg(data.msg, { time: 1000, icon: data.icon }, function() {
                location.reload();
            })
        }, 'json');
    }
    //修改推荐
    function upRecommend(id, status) {
        $.post("{:url('admin/cate/upRecommend')}", { vid: id, isrecommend: status }, function(data) {
            layer.msg(data.msg, { time: 1000, icon: data.icon }, function() {
                location.reload();
            })
        }, 'json');
    }

    //图片点击放大
    $("#outerdiv").hide();
    $(function(){
        $("img").mouseover(function(){
            $(this).css("cursor","pointer");
        });

        $("img").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#bigimg", _this);
        });
    });

    function imgShow(outerdiv, bigimg, _this) {
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $('#outerdiv').attr('display', 'block');
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性
        $(outerdiv).fadeIn("fast");

        $(outerdiv).click(function (){
            $(this).fadeOut("fast");
        });
    }
    </script>
</body>

</html>